<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">What's for Dinner?</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <% if (currentUser) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/<%=currentUser.username%>">Dashboard</a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="#">Discover</a>
            </li>
        </ul>
        <% if (currentUser) { %>
            <form action="/sessions?_method=DELETE" method="POST">
                <input class="btn btn-primary btn-sm" type="submit" value="Logout">
            </form>
        <% } else { %>
            <a class="btn btn-primary btn-sm" href="/sessions/new">
                Login
            </a>
        <% } %>

    </div>
</nav>