<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <div class="container-fluid">
        <% include ./partials/nav %>
        <div class="home-background">
            <div class="home-content">
                <div class="home-header">
                    <h5>Welcome to<h5>
                    <h1>What's For Dinner!</h1>
                    <p>share, discover, connect</p>
                </div>
                <div class="featured-content">
                    <div class= "entries-container">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ./partials/script %>
</body>

</html>