<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <div class="container-fluid">
        <h1>Home Page</h1>
        <div class="header-nav">
            <ul>
                <% if (currentUser) { %>
                    <li>
                        <a href="/users/<%= currentUser.username%>">My Dashboard</a>
                    </li>
                    <li>
                        <form action="/sessions?_method=DELETE" method="POST">
                            <input type="submit" value="Logout">
                        </form>
                    </li>
                <% } else { %>
                    <li>
                        <a href="./sessions/new">Login</a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div>
            <% if (currentUser) { %>
                You are logged in as <%=currentUser.username %>
            <% } else { %>
                You are not logged in
            <% } %>
        </div>
    <% include ./partials/script %>
    </div>
</body>

</html>