body, html {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin-top: 70px;
    padding: 0;
}

/* 
-------------------------------
User page
------------------------------- 
*/
.user-header {
    width: 100%;
    height: 300px;
    background: url("https://i.imgur.com/fiqQ6Tj.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-header > img {
    margin-top: 10px;
    max-height: 200px;
    min-height: 200px;
    border-radius: 100%;
    background: #E6F5FF;
    /* background: rgba(255, 255, 255, 0.5); */
    padding: 5px;
    box-sizing: content-box;
}

.user-header > h3 {
    color: white;
    display: block;
    padding: 8px 15px;
    border-radius: 10%;
    background: rgba(0, 0, 0, 0.4);
}

.user-admin-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-admin-nav ul {
    margin: 5px 0;
    padding: 0;
}

.user-admin-nav li {
    display: inline-block;
    margin: 0;
}

.btn-sm {
    font-size: .6em;
}


/* 
-------------------------------
Entries
------------------------------- 
*/
.entries-container {
    width: 100%;
    padding: 2% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.entry-preview img {
    height: 250px;
    clip-path: rect(0px,250px,250px,0px);
    border: 1px solid lightgrey;
}

.entry-preview a:hover {
    text-decoration: none;
}

.entry-preview {
    font-size: .8em;
    width: 260px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.entry-preview-info {
    padding: 10px 0;
    border: 1px solid rgb(237, 237, 237);
}


/* 
-------------------------------
Media Queries
------------------------------- 
*/
@media screen and (max-width: 768px) {
    .user-header {
        height: 200px;
    }
    .user-header > img {
        max-height: 120px;
        min-height: 120px;
    }
    .user-header > h3 {
        font-size: 1em;
    }
    .user-entries-container {
        padding: 1%, 2%;
    }
}