<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <% if(currentUser) { %>
        You are logged in as <%=currentUser.username%>
    <% } else { %>
        You are not logged in
    <% } %>



    <h1>Edit Entry</h1>
    <form action="/entries/" method="POST">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" value="<%=currentEntry.title%>">
        <br />
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10"><%=currentEntry.description%></textarea>
        <br />
        <label for="category">Category</label>
        <select id="category" name="category">
            <option value="entree">Entree</option>
            <option value="appetizer">Appetizer</option>
            <option selected value="dessert">dessert</option>
            <option value="side">side</option>
        </select>
        <br />
        <label for="flavors">Flavors</label>
        <br />
        <input type="checkbox" name="flavors" value="salty">Salty
        <br />
        <input type="checkbox" name="flavors" value="sweet" checked>Sweet
        <br />
        <input type="checkbox" name="flavors" value="savory">Savory
        <br />
        <input type="checkbox" name="flavors" value="sour">Sour
        <br />
        <input type="checkbox" name="flavors" value="spicy">Spicy
        <br />
        <label for="img">Image URLs</label>
        <br />
        <input type="text" name="img">
        <br />
        <input type="text" name="img">
        <br />
        <input type="text" name="img">
        <br />
        <input type="text" name="img">
        <br />
        <input type="text" name="img">
        <br />
        <input type="submit">
        <br />
    </form>
</body>
</html>