<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body class="home-body">
    <div class="container-fluid">
        <% include ../partials/nav %>
            <div class="home-background">
                <div class="home-content">
                    <div class="home-header">
                        <h1 class="display-4">Login</h1>
                    </div>
                    <div class="form-content">
                        <div class="form-entries-container">
                            <form action="/sessions/" method="POST">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input  class="form-control" id="username" type="text" name="username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="form-control" id="password" type="password" name="password">
                                </div>
                                <input class="btn btn-primary btn-md" type="submit">
                            </form>
                            <br>
                            <a class="btn btn-primary btn-sm" href="/users/new">Register New Account</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <% include ../partials/script %>
</body>

</html>